<h1>Add Your Artist Below!</h1>

<form action="/artists" method="post">
  <label for="artist-name">Name:</label>
  <input type="text" id="artist-name" name="artist-name">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back to Home</a></p>
